{% extends 'base.twig' %}

{% block content %}

<section id="content" role="main" class="content-wrapper mw8 ph3 center wola-gray">

	{% block title %}
		{% if title %}
			<h1 class="f1 center lh-title pv4 tc">{{title}}</h1>
		{% endif %}
	{% endblock %}

	{% include 'photo-essays-sortable.twig' %}

</section>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
<script src="//npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
{% endblock %}