<footer class="bg-light-gray pv4">

	<div class="flex flex-column items-center justify-center pa2">
		<a href="https://www.wola.org/" class="db" target="_blank"><img src="https://www.wola.org/wp-content/themes/wola/assets/img/wola-brand-en.png" alt="" class="mw5 pb3"></a>
	</div>

	<div class="flex flex-column flex-row-ns mw8 wola-gray center justify-between pa2">
		<div class="w-100 w-third-ns flex flex-column justify-start items-center">
			<h4 class="tl">Sign Up for Updates</h4>
			<a href="https://www.wola.org/get-involved/sign-up/" class="f5 f4-ns link grow pv2 ph3 ph4-l pv3-l mb2 mh2 dib white bg-wola-blue shadow-4">Sign Up</a>
		</div>
		<div class="w-100 w-third-ns">
			<h4 class="tc">Contact</h4>
			<p class="lh-copy tc">Washington Office on Latin America<br>1666 Connecticut Ave NW, Suite 400<br>Washington, DC 20009<br>Tel: (202) 797-2171</p>
		</div>
		<div class="w-100 w-third-ns flex flex-column justify-start items-center">
			<h4 class="tc">Follow</h4>
			<div class="flex">
				<a href="https://twitter.com/WOLA_org" class="link wola-gray db hover-twitter ph2" target="_blank"><i data-feather="twitter" class="w2 h-auto"></i></a>
				<a href="https://www.facebook.com/WOLA.org" class="link wola-gray db hover-facebook ph2" target="_blank"><i data-feather="facebook" class="w2 h-auto"></i></a>
				<a href="https://vimeo.com/wola" class="db link wola-gray hover-wola-blue ph2" target="_blank"><i data-feather="video" class="w2 h-auto"></i></a>
			</div>
		</div>
	</div>


	
</footer>