{% if menu %}
	<ul class="mobile-menu relative db list tl ma0 pt5 pl5">
	{% for item in menu %}
		<li class="menu-item db relative pv3 white">
			<a href="{{ item.link }}" class="f3 f2-m f2-l link near-white">{{ item.title }}</a>
			{% if item.children %}
			    <ul class="list pl3 pt2 tl near-white">
			        {% for child in item.children %}
			            <li class="mv2">
			                <a href="{{ child.link }}" class="dib near-white f5-s f4-m f3-l link">{{ child.title }}</a>
			            </li>
			        {% endfor %}
			    </ul>
			{% endif %}
		</li>
	{% endfor %}
		{% do action('wpml_add_language_selector') %}
	</ul>
{% endif %}
