{% if item.children %}
    <ul class="nav-drop list pa3 tl bg-white shadow-5">
        {% for child in item.children %}
            <li class="nav-drop-item mv2">
                <a href="{{ child.link }}" class="menu-border-animate dib dark-gray f6-s f6-m f5-l link">{{ child.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}